<html>
  <head>
    <title>Demo - PingOne OIDC 1.0 Basic Profile</title>
  </head>
  <body>
    <h1>OpenID Connect Test</h1>
    <h2>Successfully obtained user profile for user ID: {{ sub }}.</h2>
    <p>
      <em>Default values according to <a href="http://openid.net/specs/openid-connect-core-1_0.html#StandardClaims">OpenID Connect Core 1.0 Standard Claims</a></em>
      <ul>
        <li><strong>name:</strong> {{ lname }}, {{ fname }}</li>
        <li><strong>givenName:</strong> {{ fname }}</li>
        <li><strong>sn:</strong> {{ lname }}</li>
        <li><strong>sAMAccountName:</strong> {{ sub }}</li>
        <li><strong>mail:</strong> {{ email }}</li>
        <li><strong>memberOf:</strong> {{ roles }}</li>
      </ul>      
    </p>
  </body>
</html>
